
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #b1acf0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 20px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
  }
  
  input,
  textarea {
    width: 75%;
    padding: 15px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }